.option {
	outline: none;
	border: none;
	font: inherit;
	color: inherit;

	display: block;
	width: 100%;
	text-align: left;

	position: relative;
	background-color: hsla(0, 0%, 100%, 1);
	padding: 1.2rem 3.2rem 1.2rem 6.2rem;
	border-radius: 12px;

	user-select: none;
	cursor: pointer;

	box-shadow: 0 0 0 2px currentColor;

	transition: all 0.5s ease;
}

.option.wrong {
	background-color: hsla(0, 71%, 71%, 1);
	box-shadow: 0 0 0 2px hsla(0, 71%, 71%, 1);
	color: #fff;
}
.option.correct {
	background-color: hsla(145, 43%, 56%, 1);
	box-shadow: 0 0 0 2px hsla(145, 43%, 56%, 1);
	color: #fff;
}

.option.correct::after,
.option.wrong::after {
	position: absolute;
	top: 1.2rem;
	right: 2rem;
	pointer-events: none;
}
.option.correct::after {
	content: url('../../assets/check_outline.svg');
}
.option.wrong::after {
	content: url('../../assets/close_outline.svg');
}

.option:disabled {
	cursor: not-allowed;
}

.option:not(.wrong):not(.correct):not(:disabled):hover {
	background-color: hsla(37, 95%, 56%, 1);
	box-shadow: 0 0 0 2px hsla(37, 95%, 56%, 1);
	color: #fff;
}

.option:not(:last-child) {
	margin-bottom: 2rem;
}

.option::before {
	position: absolute;
	left: 20px;
}

.option:first-child::before {
	content: 'A';
}
.option:nth-child(2)::before {
	content: 'B';
}
.option:nth-child(3)::before {
	content: 'C';
}
.option:nth-child(4)::before {
	content: 'D';
}
