.quiz {
	position: relative;
}

.quiz::before {
	position: absolute;
	content: url('../../assets/adventure.svg');
	top: -80px;
	right: 0;
}

.quiz img {
	width: 10rem;
	border-radius: 8px;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
	margin-bottom: 1.2rem;
}

.quiz .title {
	font-size: 2rem;
	font-weight: 700;
	color: hsla(212, 45%, 33%, 1);

	margin-bottom: 3.2rem;
}

.actions {
	margin-top: 2.4rem;
	display: flex;
	justify-content: flex-end;
}

.actions button {
	outline: none;
	border: none;
	cursor: pointer;

	font: inherit;
	font-weight: 700;
	padding: 1.2rem 3.2rem;
	border-radius: 12px;
	color: #fff;
	background-color: hsla(37, 95%, 56%, 1);
	box-shadow: 0px 2px 4px 0px hsla(35, 97%, 59%, 0.4);
}

@media screen and (max-width: 600px) {
	.quiz::before {
		opacity: 0;
	}
}
